<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title[page.lang] }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="{{ site.feed[page.lang] | prepend: site.baseurl }}">
              {{ site.rss[page.lang] }}
            </a>
          </li>
          <li>
            <a href="https://slackin.yunity.org">chat to us in slack</a> <strong>#foodsharing-dev</strong>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description[page.lang] }}</p>
      </div>
    </div>

  </div>

</footer>
