<div class="home">

  <ul class="post-list">
    {% assign grouped_posts=site.posts | group_by:"ref" %}
    {% for translations in grouped_posts %}
      {% assign default_post=translations.items | where:"lang", site.default_lang %}
      {% assign priority_post=translations.items | where:"lang", page.lang %}
      {% assign lang_not_available = true %}
      {% if priority_post.size > 0 %}
        {% assign post=priority_post.first %}
        {% assign lang_not_available = false %}
      {% elsif default_post.size > 0 %}
        {% assign post=default_post.first %}
      {% else %}
        {% assign post=translations.items.first %}
      {% endif %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        {% include post_meta.html post=post %}

        <div class="post-content" itemprop="articleBody">
          {{ post.excerpt }}
          <a class="post-read-more" href="{{ post.url | prepend: site.baseurl }}">{{ site.read_more[page.lang] }}</a>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
