{% assign post=include.post %}
{% assign translator = site.authors[post.translator] %}
<p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
    {% if post.author %}
      {% for author_name in post.author %}
        {% assign author = site.authors[author_name] %}
        {% if post.author.last == author_name or post.author == author_name %}
          {% assign is_last = true %}
        {% else %}
          {% assign is_last = false %}
        {% endif %}
        {% if author.web %}<a href="{{ author.web }}">{% endif %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.display_name }}</span></span>{% if author.web %}</a>{% endif %}{% unless is_last %},{% endunless %}
      {% endfor %}
      {% if post.orig-lang != post.lang %}<br>{{ site.orig-lang[post.lang] }} {{ post.orig-lang }}{% if post.translator %} • {{ site.translator[post.lang] }} {{ translator.display_name }}{% endif %}{% endif %}
    {% endif %}
    {% if post.lang != page.lang %}
      <br><span><a href="{{ site.translate_url }}">{{ site.help_translate[page.lang] }}</a></span>
    {% endif %}
  </p>