/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    background-color: #fff;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    font-family: Alfa Slab One;
    font-weight: normal;

    .color-food {
        color: rgb(74, 53, 32);
    }

    .color-sharing {
        color: #5ab946;
    }

    .color-dev {
        color: #555;
    }

}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.lang-mine {
    font-weight: bold;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    background-color: #fff;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        background-color: #fff;
        padding: 50px;

        @include media-query($on-laptop) {
          padding: 30px;
        }

        @include media-query($on-palm) {
          padding: 10px;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    line-height: 1.5;
    display: block;
    color: $grey-color;
    a {
      color: $grey-color;
    }
    margin-bottom: 20px;
}

.post-link {
    display: block;
    font-size: 42px;
    line-height: 1.2;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    // letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 12px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {

    p, li {
      font-size: 18px;
      line-height: 30px;
    }

    h2 {
        font-size: 36px;
        margin-top: $spacing-unit;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 30px;
        margin-top: $spacing-unit;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post {
  background-color: #fff;
  padding: 50px;

  @include media-query($on-laptop) {
    padding: 30px;
  }

  @include media-query($on-palm) {
    padding: 10px;
  }
}

.post-read-more {
    display: block;
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: $spacing-unit;
    margin-bottom: 0;
}
